/* Import restaurant CSS */
@import url("restaurants.css");

/* SUCCESS PAGE STYLING */
.success-container {
    width: 50%;
    margin: 80px auto;
    text-align: center;
    padding: 40px;
    box-shadow: 0 6px 0px rgba(0,0,0,0);
}

.success-container h1 {
    color: #ff5722;
    font-size: 32px;
    margin-bottom: 10px;
}

.success-container p {
    font-size: 18px;
    color: #444;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    margin-right: 10px;
    padding: 10px 20px;
    background: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #e64a19;
}